@import 'base/index';
.section-about-intro {
    margin-top: -40px;

    h1 {
        color: $white;
        @include font-size($xxxl-font);
    }
    .intro-container {
        background: $silver;
        @include font-size($md-font);
        z-index: 4;
    }
    @media (min-width: map-get($breakpoints, xs)) {
        margin-top: -60px;
    }
    @media (min-width: map-get($breakpoints, sm)) {
        margin-top: -80px;
    }
    @media (min-width: map-get($breakpoints, md)) {
        margin-top: -100px;
    }
}