@import 'base/index';
.section-image-left {
    height: 100%;
    .img-wrapp, .img-wrapp-small {
        //padding-top: 40px;
        padding-left:20px;

        img {
            max-width: 200px;
            position: relative;
        }
        &:before,
        &:after {
            display: inline-block;
            position: absolute;
            width: 200px;
            z-index: -1;
        }
        &:before {
            content: "";
            background: $overlay;
            height: 270px;
            top: 50px;
            left: 0px;
        }
        &:after {
            content: "";
            background: $overlay;
            height: 230px;
            top: 20px;
            left: 40px;
        }
    }
    h2 {
        @include font-size($xxxl-font);
        padding-bottom: 20px;
    }
    h3 {
        @include font-size($xl-font);
        //text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    p, ul {
        @include font-size($md-font);
        //text-transform: uppercase;
    }

    @media (min-width: map-get($breakpoints, md)) {
        .img-wrapp {
            //padding-top: 80px;

            &:before {
                top: 50px;
            }
            &:after {
                top: 20px;
            }
        }
    }

    @media (min-width: map-get($breakpoints, lg)) {
        .img-wrapp {
            padding-left:30px;

            img {
                max-width: 315px;
            }
            &:before,
            &:after {
                width: 300px;
            }
            &:before {
                height: 410px;
                top: 90px;
            }
            &:after {
                height: 350px;
                top: 40px;
                left: 75px;
            }
        }
    }
}