@import 'base/index';
.section-intro {
    .intro-container {
        background: $silver;
        z-index: 9;

        .intro-paragraph-one {
            @include font-size($xxl-font);
        }

        .intro-background {
            margin-top: -150px;
            background: url(../../dist/img/home/marhaba.png) top right no-repeat;
            height: 480px;

            @media (min-width: map-get($breakpoints, md)) {
                height: auto;
                margin-top: -50px;
            }
        }

        @media (min-width: map-get($breakpoints, sm)) {
                margin-top: -50px;
        }
        @media (min-width: map-get($breakpoints, md)) {
                margin-top: -100px;
        }
    }
}