@import 'base/index';

html,
body {
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscal;
    position: relative;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Sans Pro', sans-serif;
    //background: $white;
    @include font-size($md-font);
    
}

.canv{
    position: relative;
    height: 100%;
}

//////////////
// headers
////////////
h1,
h2,
h3,
h4
{
  
}

//////////////
// links
////////////


/*----------------------
// Scroll Top Button
------------------------*/
a.scroll-top {
    line-height: 0;
    z-index: 20;
    opacity: 0.9;
    @include transition(all 300ms $cubic);
    position: fixed;
    bottom: -70px;
    right: 15px;
    background: $primary;
    color:$white;
    @include font-size($xxl-font);
    display: inline-block;
    padding: 5px;
    &.scroll-on {
        bottom: 40px;
    }
    &:hover{
         opacity: 1;
    }
    
}
