@import 'base/index';
.section-managing-director {

    .managing-director-container {
        height: 100%;
        background: $silver;

        .container-img {
            padding-top: 50px;
            padding-right: 80px;
            //text-align: right;
        }

        .container-text {
            padding-top: 50px;
            padding-bottom: 50px;
            padding-right: 80px;

            .subtitel {
                color: $grey;
                @include font-size($lg-font);
            }

            p {
                @include font-size($lg-font);
            }

            a {
                @include font-size($lg-font);
                color: $link;
            }
        }

        @media (min-width: map-get($breakpoints, md)) {
            .container-img {
                padding-top: 100px;

            }

            .container-text {
                padding-top: 100px;
                padding-bottom: 80px;
                padding-right: 80px;
            }
        }
        
    }

}