@import 'base/index';
.section-managing-director {
    .managing-director-container {
        height: 100%;
        background: $silver;

        .img-wrapp {
            padding-top: 40px;
            padding-right: 60px;
            //max-width: 350px;
            text-align: right;
            margin: 0 auto;
            img {
                position: relative;
                width: 200px;
                z-index:4;
                max-width: 100%;
            }
            &:before, &:after {
                display: inline-block;
                position: absolute;
                width: 150px;
                height: 150px;
                z-index: 3;
            }
            &:before {
                content: "";
                background: rgba($primary, 0.05);
                top: 25px;
                right: 110px;
            }
            &:after {
                content: "";
                background: rgba($primary, 0.02);
                top: 160px;
                right: 55px;
            }
        }
        .container-text {
            padding-top: 50px;
            padding-bottom: 50px;
            padding-right: 80px;
            .subtitel {
                color: $grey;
                @include font-size($lg-font);
            }
            p {
                @include font-size($lg-font);
            }
            a {
                @include font-size($lg-font);
                color: $link;
            }
        }

        @media (min-width: map-get($breakpoints, sm)) {
            .img-wrapp {
                padding-top: 60px;
                padding-right: 40px;

                &:before {
                    top: 40px;
                    right: 90px;
                }
                &:after {
                    top: 180px;
                    right: 35px;
                }

            }
        }

        @media (min-width: map-get($breakpoints, md)) {
            .img-wrapp {
                padding-top: 80px;
                //padding-right: 40px;

                img {
                    width: 280px;
                }
                &:before, &:after {
                    width: 200px;
                    height: 200px;
                }
                &:before {
                    top: 60px;
                    right: 110px;
                }
                &:after {
                    top: 255px;
                    right: 30px;
                }

            }
            .container-text {
                padding-top: 80px;
                padding-bottom: 60px;
                padding-right: 80px;
            }
        }
    }
}