@import 'base/index';

.section-our-service{

    //background: url(../../dist/img/home/marhaba.png) top right no-repeat;
     background: red;
    padding-top: 200px;
    h2{
     font-weight: 200;
     text-transform: uppercase;   
     

    }

    // @media (min-width: map-get($breakpoints, md)) {
    //     padding-top: 0;
    //     background: blue;
    //     h2{
    //         color:red
    //     }
    // }
    // @media (min-width: map-get($breakpoints,xl)) {
    //     padding-top: 0;
    //     background: green;
    // }
}