@import 'base/index';
.section-our-services {
    h2 {
        font-weight: 200;
        text-transform: uppercase;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .services {
        text-align: center;
        text-transform: uppercase;
        @include font-size($xxl-font);

        a {
            display: block;
            text-decoration: none;
            color: $black;

            .service-content {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        a:hover {
            color: $white;
        }
        .service-container {
            position: relative;
            height: 0px;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            padding-top: 66.69% // (img-height / img-width * width)
        }
        .box-1 {
            background-image: url(../../dist/img/home/service-1.png); 
            //@include linear-gradient(to right, rgba($white, 0.5) 0%,rgba($white, 0.5)   20%, transparent 60%);
        }
        .box-1:hover {
            background-image: url(../../dist/img/home/service-1-hover.png);
        }
        .box-2 {
            background-image: url(../../dist/img/home/service-2.png); 
            //@include linear-gradient(to right, rgba($white, 0.5) 0%,rgba($white, 0.5)   20%, transparent 60%);
        }
        .box-2:hover {
            background-image: url(../../dist/img/home/service-2-hover.png);
        }
        .box-3 {
            background-image: url(../../dist/img/home/service-3.png); 
            //@include linear-gradient(to right, rgba($white, 0.5) 0%,rgba($white, 0.5)   20%, transparent 60%);
        }
        .box-3:hover {
            background-image: url(../../dist/img/home/service-3-hover.png);
        }
        .box-4 {
            background-image: url(../../dist/img/home/service-4.png); 
            //@include linear-gradient(to right, rgba($white, 0.5) 0%,rgba($white, 0.5)   20%, transparent 60%);
        }
        .box-4:hover {
            background-image: url(../../dist/img/home/service-4-hover.png);
        }

        @media (min-width: map-get($breakpoints, md)) {
            .service-container {
                padding-top: 33.365% // (img-height / img-width * width)
            }
        }
    } 
}