@import 'base/index';
.section-our-services-v2 {
    h2 {
        font-weight: 200;
        text-transform: uppercase;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .services {
        text-transform: uppercase;
        @include font-size($xxl-font);

        .service-wrapp {
            height: 320px;
            color: $white;
            position: relative;
            background-repeat: no-repeat;
            background-position: center 30%;
            background-size:cover;
            -webkit-filter: grayscale(0.3); /* Old WebKit */
            filter: grayscale(0.3);

            &:after {
                content: "";
                @include transition(all 300ms ease);
                @include linear-gradient(to bottom right, rgba($primary, 0.4) 10%,rgba($primary, 0.2) 50%);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity: 1;
            }
            &::before {
                content: "";
                @include transition(all 300ms ease);
                @include linear-gradient(to bottom right, rgba($white, 0.8) 10%,rgba($white, 0.6) 50%);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                //z-index: -1;
            }

            .service-text {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                &::before{
                    opacity: 0;
                    @include transition(all 300ms ease-in-out);
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 30px;
                    height: 30px;
                    border-top: 1px solid $black;
                    border-left: 1px solid $black;
                }
                &::after{
                    opacity: 0;
                    @include transition(all 300ms ease-in-out);
                    content: '';
                    position: absolute;
                    right: 0px;
                    bottom: 0px;
                    width: 30px;
                    height: 30px;
                    border-bottom: 1px solid $black;
                    border-right: 1px solid $black;
                }


            }

            &:hover {
                color: $black;
                -webkit-filter: none; 
                filter:none;
                opacity: 1;
    
                &:after {
                   display: none;
                }
                &::before{
                    opacity: 1;
                }

                .service-text {
                    &::before{
                        opacity: 1;
                        top: 30px;
                        left: 30px;
                    }
                    &::after{
                        opacity: 1;
                        bottom: 30px;
                        right: 30px;
                    }
                }
            }
        }
        


        @media (min-width: map-get($breakpoints, md)) {
            .service-wrapp {
                height: 180px;
               
            }
        }
        @media (min-width: map-get($breakpoints, lg)) {
            .service-wrapp {
                height: 210px;
             
            }
        }
        @media (min-width: map-get($breakpoints, xl)) {
            .service-wrapp {
                height: 260px;
               
            }
        }
    } 
}