@import 'base/index';
.pg-footer {
    background: $primary;
    width: 100%;
    padding: 15px;
    .footer-index {
        padding-top: 20px;
        padding-bottom: 20px;
        .header-brand {
            padding-left: 40px;
            img {
                width: 120px;
                height: 60px;
            }
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            li {
                a {
                    display: block;
                    color: $silver;
                    text-align: left;
                    text-transform: uppercase;
                    padding: 3px;
                    text-decoration: none;
                    width: 100px;
                    @include font-size($xs-font);
                    font-weight: 200;
                    &:hover {
                        color: $secondary;
                    }
                }
                @media (min-width: map-get($breakpoints, sm)) {
                    a {
                        @include font-size($md-font);
                    }
                }
                @media (min-width: map-get($breakpoints, md)) {
                    a {
                        width: 150px;
                    }
                }
                @media (min-width: map-get($breakpoints, xl)) {
                    a {
                        width: 200px;
                    }
                }
            }
        }
        @media (min-width: map-get($breakpoints, sm)) {
            ul {
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
            }
        }
    }
    .footer-copyright {
        background: rgba($copyright, 0.5);
        color: $white;
        a {
            color: $white;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    @media (min-width: map-get($breakpoints, md)) {
        .footer-index {
            padding-top: 30px;
            padding-bottom: 30px;
            .header-brand {
                padding-left: 100px;
            }
            ul {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
            }
        }
    }
}