@import 'base/index';
.pg-media {
    background: $white;
    position: relative; 
    //padding-top: 37.8%;
    height: 75%;
    .media-img {
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        // padding-top: 37.8%;
        // min-height: 300px; 
        
    }
    .media-content {
        height: 100%;
        >.container {
            height: 100%;
            &:before {
                content: '';
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                @include linear-gradient(to top, rgba($black, 0.5) 0%, transparent 100%);
            }
        }
    }
}