@import 'base/index';
.pg-header {
    position: fixed;
    top: 0px;
    z-index: 5;
    width: 100%;
    >.container {
        >.row {
            background: $primary;
            padding: 15px;
        }
    }
    .header-brand {
        img {
            width: 120px;
            height: 70px;
            float: right;
        }
    }
    .header-title {
        font-family: 'Bembo', 'Times New Roman', Times, serif;
        text-align: left;
        h1 {
            color: $secondary;
            @include font-size($company-font);
            margin: 0;
            margin-top: 5px;
        }
        p {
            text-align: left;
            color: $white;
            margin: 0;
            margin-top: -10px;
            margin-left: 5px;
            @include font-size($md-font);
        }
    }
    .header-menu {
        color: $white;
    }
    @media (min-width: map-get($breakpoints, sm)) {
        position: absolute;
    }
    @media (min-width: map-get($breakpoints, md)) {
        top: 30px;
        .header-brand {
            img {
                width: 150px;
            }
        }
    }
}