@import 'base/index';
.pg-media {
    background: $white;
    position: relative;
    //padding-top:60px;

    .img-wrapper {
        position: relative;
        height: 0px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 37.8%; 
        min-height: 300px;
        
        &:before {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            @include linear-gradient(to top, rgba($black, 0.5) 0%, transparent 60%);
        }
    }
    @media (min-width: map-get($breakpoints, sm)) {
        margin-top:0px;
    }
}